.footer {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.footer-links a {
  margin: 0 5px;

}
.footer-links i {
  color: $gray;
  &:hover {
    color:$light-red
  }
}

.footer-copyright {
  margin-right: 5px;
}

.footer-copyright i{
  color:$light-red;
}
